.table-header:hover {
    background-color: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
